.recipes {
    text-align: center;
    background-color: aliceblue;
}

.recipe-list {
    list-style-type: none;
    line-height: 30px;
}

ul, ol {
    background-color: aliceblue;
}

h2, h3 {
    background-color: ivory;
}