.recipes {
    text-align: center;
    background-color: aliceblue;
}

.recipe-list {
    list-style-type: none;
    line-height: 30px;
}

ul, ol, p {
    background-color: aliceblue;
    color: #4a4a4a;
}

h1, h2, h3 {
    background-color: ivory;
    color: #4a4a4a;
}

a {
    text-decoration: none;
}